<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>性别</td>
        <td>地址</td>
        <td>邮箱</td>
    </tr>
    <tr th:each="stu:${studentList}">
        <td th:text="${stu.sid}">1</td>
        <td th:text="${stu.sname}">易敏</td>
        <td th:text="${stu.sage}"> 22</td>
        <td th:text="${stu.sgender}">女</td>
        <td th:text="${stu.saddress}">湖南岳阳</td>
        <td th:text="${stu.semail}">ym1226569483@163.com</td>
    </tr>
</table>
</body>
</html>